body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */

    --header-height: 140px;
    /* --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45); */
    --gutter: 30px;
    --footer-height: 25px;

    font-family: sans-serif;
    background-color: var(--color2);
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    height: 2000px;
}

main {
    grid-column: 2;
    grid-row: 2;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#pizza-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 50px;
    font-weight: bolder;
}

#pizza-date {
    color: rgb(169, 170, 170);
}

header {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    margin-right: 250px;
}

.gutter-left {
    margin-right: 400px;
    font-family: cursive;
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.gutter-left img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.list {
    position: relative;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;

}

#milk {
    position: absolute;
    bottom: 240px;
    left: 100px;
}

#mascarpone {
    position: absolute;
    bottom: 215px;
    left: 100px;
}

#salt {
    position: absolute;
    bottom: 190px;
    left: 100px;
}

#figs {
    position: absolute;
    bottom: 165px;
    left: 100px;
}

#sugar {
    position: absolute;
    bottom: 140px;
    left: 100px;
}

#water {
    position: absolute;
    bottom: 115px;
    left: 100px;
}

#cream {
    position: absolute;
    bottom: 240px;
    right: 200px;
}

#sugar-2 {
    position: absolute;
    bottom: 215px;
    right: 239px;
}

#egg {
    position: absolute;
    bottom: 190px;
    right: 328px;
}

#lemon {
    position: absolute;
    bottom: 165px;
    right: 294px;
}

#butter {
    position: absolute;
    bottom: 140px;
    right: 301px;
}

#pecans {
    position: absolute;
    bottom: 115px;
    right: 151px;
}

#delicious-font {
    font-size: small;
    color: rgb(169, 170, 170);
}

.lines {
    width: 100%;
    height: 20px;
    color: rgb(177, 174, 174);
}

.lines2 {
    width: 100%;
    height: 20px;
    margin-top: 20px;
    color: rgb(177, 174, 174);
}

.title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;

}

#print {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 75px;
    /* margin-top: 30px; */
    margin-left: 800px;
    margin-bottom: 50px;
    font-size: small;
    color: rgb(169, 170, 170);
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 3;
    /* margin-left: 50px; */
}

.words {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 900px;
    margin-top: 10px;
    color: grey;
    font-family: sans-serif;
    font-size: larger;
}

.gutter-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header img {
    height: 20px;
    width: 20px;
}

#vanessa {
    display: grid;
    grid-template-columns: 100px 200px 200px 200px;
    height: 100px;
}

#vanessa img {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#name {
    font-weight: bolder;
    grid-column: 2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 50px;
}

.foot {
    max-width: 600px;
    color: rgb(177, 174, 174);
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

button {
    grid-column: 4;
    height: 100px;
    width: 150px;
    background-color: orange;
    margin-left: 100px;
    font-size: 1.5rem;
}

button:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

@keyframes pulse {
    20% {
        transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
    }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

}